form, .content {
	width: 100%;
	margin-top: 0px auto;
	padding: 20px;
	border: 0px solid #979A9A;
	border-radius: 0px 0px 10px 10px;
  
}
body {
	font-size: 120%;
  margin: 0;
 

}
.topnav {
  background-color: #333;
  font-family: Broadway;
}

.topnav a {
  float: left;
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #000066;
  color: white;
}

.topnav a.active {
  background-color: white;
  color: black;
}
.header {
	width: 100%;
	margin: 0px auto 0px;
	color: #EAEDED;
   background-image: linear-gradient(to right, #000066, white);
  background-color: Black;
	padding: 20px;
	font-size:20x;
	font-family: Algerian;
}
.log {
	width: 100%;
	margin: 50px auto 0px;
	color: black;
	text-align: center;
	padding: 20px;
}
.image{
	height: 150px;
 	width: 300px;
 	margin-left: 350px;
}
.image2{
		height: 150px;
 	width: 300px;
 	margin-left:160px;
}
.btn {
	  width:20%;
	padding: 10px;
	font-size: 15px;
	color: white;
	background-color: #000066;
	border: none;
	border-radius: 10px; 
}
.btn:hover {
  box-shadow: 0 12px 16px 0 #A9A9A9,0 15px 30px 0 #A9A9A9;
  background-color: #BCBCBE;
  color: black;
}

.btn1
{
    width:20%;
  padding: 10px;
  font-size: 15px;
  margin-left: 115px;
  color: white;
  background: #000066;
  border: none;
  border-radius: 10px;
}
.btn1:hover {
  box-shadow: 0 12px 16px 0 #A9A9A9,0 15px 30px 0 #A9A9A9;
  background-color: black;
}
.label {
	display: block;
	text-align: center;
	margin: 3px;
}
.con
{width:500px;
  margin-left: 130px;
  height: 300px;
  padding: 15px;
  font-size: 15px;
  color: black;
  border-radius: 5px;
  float: left; 
  border: 5px solid  black;
  border-radius: 10px 10px 0px 0px;
  
}
.con1
{width:500px;
  height: 300px;
  padding: 15px;
  font-size: 15px;
  margin-right: 130px;
  color: black;
  border-radius: 5px;
  float: right;  
  border: 5px solid  black;
  border-radius: 10px 10px 0px 0px;
  
}
.con2
{width:500px;
  height: 300px;
  padding: 15px;
  font-size: 15px;
  color: black;
  margin-top: 10px;
  margin-left: 130px;
  border-radius: 5px;
  float: left; 
  border: 5px solid  black;
  border-radius: 10px 10px 0px 0px;
  
}
.con3
{width:500px;
  height: 300px;
  padding: 15px;
  font-size: 15px;
  color: black;
  margin-right: 130px;
  margin-top: 20px;
  border-radius: 5px;
  float: right; 
  border: 5px solid  black;
  border-radius: 10px 10px 10px 10px;
  
}
input[type=text], select {
  width: 20%;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;

}

input[type=submit] {
  width: 20%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

input[type=submit]:hover {
  background-color: #45a049;
}
.center {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
  margin: auto;
  margin-right: 400px;
  margin-left: 400px;
}
